label.jsvm_jsjobswidefat{display: block;}
p.jsvm_jsjobs-wid-selecttype{background: #E7f5fa;padding: 15px;border-bottom: 2px solid #00a0d2;}
p.jsvm_jsjobs-wid-selecttype label.jsvm_jsjobs-label{color: #444444;}
/*mce css*/
.jsvm_mce-window.jsvm_mce-container.jsvm_mce-jsjobsjobseditorclass .jsvm_mce-container-body.jsvm_mce-abs-layout { overflow: hidden;}
i.jsvm_jsjobs-ouricon-img{background-image: url('../images/admin_jsjobs1.png');}